@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-y: scroll;
    min-height: fit-content;
    height: 100vh;
    background-color: #8f7158;
}
